
.game{
width: 720px;
border: solid 1px #ddd;
margin: 0 auto;
background: #3ac7fe;
border: solid 10px;
text-align:center;
min-height:430px;
}


.game .game-body{
padding: 20px;
}

.deck{
float:left;
background: white;
color:#222;
padding: 10px;
border-radius:10px;
border: double 5px;
}
